name: Monitoramento Jira

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write
      
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas psutil boto3 requests

    - name: Rodar Script de Monitoramento
      env:
        EMAIL_JIRA: ${{ secrets.EMAIL_JIRA }}
        TOKEN_JIRA: ${{ secrets.TOKEN_JIRA }}
        
      run: python monitoramento.py